---
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import dumanLogo from '../assets/logo.png';
---

<Head />
<header>
  <img src={dumanLogo.src} alt="ุฎุจุฑูุงูู ููุดโูุตููุน ุฏููุงู" class="header-logo-image">
  <h1>ุฏุฑุจุงุฑู ุฎุจุฑูุงูู ููุดโูุตููุน ุฏููุงู</h1>
</header>

<main>
  <div class="post">
    <p>
ุฎุจุฑูุงูู ููุดโูุตููุน ุฏููุงู ุงุฒ ุณุงู ฑดฐฒ ุจุง ูุฏู ุงูุชุดุงุฑ ุงุทูุงุนุงุช ููุ ุฏูู ู ุจูโุฑูุฒ ุฏุฑ ุญูุฒู ููุดโูุตููุน ู ุฑุจุงุชฺฉ ุฏุฑ ุจู ูุฒุงุฑุงู ุฎุจุฑ ฺฉู ุชููุง ุจุง ูุฏู ฺฉูฺฉโุฑุจุง ููุชุดุฑ ูโุดููุฏุ ุฑุงูโุงูุฏุงุฒ ุดุฏ. ุงู ุฎุจุฑูุงูู ุฑู ุฌูุจู ูู ู ุงููุช ุฎุจุฑ ุฏุฑ ุงูููุงุจ ููุดโูุตููุน ุชูุฑฺฉุฒ ุฏุงุฑุฏ ู ุฏุฑ ุญุงู ุญุงุถุฑ ุนูุงููโุจุฑ ุงูุชุดุงุฑ ุงุฎุจุงุฑ ูุญุชูุง ุขููุฒุด ูุฒ ุชููุฏ ูโฺฉูุฏ. ููฺฉู ุงุณุช ุฏุฑ ุขูุฏู ุญูุฒู ูุนุงูุช ุขู ุฏุฑ ุฒููู ููุดโูุตููุน ฺฏุณุชุฑุฏูโุชุฑ ูุฒ ุจุดูุฏ.
    </p>
    <p>
      ุฏุฑ ุงุจุชุฏุง ุงุฎุจุงุฑ ุจู ุตูุฑุช ุฏู ููุชูโูุงูู ุงุฒ ุทุฑู ุงูู ููุชุดุฑ ูโุดุฏุ ุงุฎุจุงุฑ ุนูุงููโุจุฑ ูุจโุณุงุช ุฏุฑ ฺฉุงูุงู ุชูฺฏุฑุงู ูุฒ ูุฑุงุฑ ูโฺฏุฑูุช. ุจู ูุฑูุฑ ุฏูโููุชูโูุงูู ูพุณ ุงุฒ ฑธ ุดูุงุฑู ุญุฐู ู ูุจโุณุงุช ูุฒ ุขุฑุดู ุดุฏ. ุฏุฑ ุญุงู ุญุงุถุฑ ุงุฎุจุงุฑ ุชููุง ุฏุฑ ฺฉุงูุงู ุชูฺฏุฑุงู ู ููุงูุงุช ูู ู ุชุดุฑุญ ุฏุฑ ูุจโุณุงุช ุฌุฏุฏ ููุชุดุฑ ูโุดููุฏ.
    </p>
    <ul dir="rtl">
      <li>๐ <a href="https://duman-articles.pages.dev" target="_blank">ูุจโุณุงุช ููุงูุงุช</a></li>
      <li>๐ข <a href="https://t.me/dumannewsletter" target="_blank">ฺฉุงูุงู ุชูฺฏุฑุงู</a></li>
      <li>๐๏ธ <a href="https://duman.pouyae.ir/" target="_blank">ูุจโุณุงุช ุขุฑุดู ุดุฏู</a></li>
      <li>๐ฐ <a href="https://duman.pouyae.ir/newsletter.html" target="_blank">ุฎุจุฑูุงููโูุง ููุชุดุฑ ุดุฏู</a></li>
      <li>๐ป <a href="https://github.com/duman-ai" target="_blank">ฺฏุชโูุงุจ</a></li>
      <li>๐ฌ <a href="mailto:dumannewsletter@gmail.com">ุงูู ุชูุงุณ</a></li>
    </ul>
  </div>
</main>

<Footer />
