---
import dumanLogo from '../assets/logo.png';
---

<div class="flex justify-center w-full py-4">
    <a
        href="/"
        class="cursor-pointer">
        <img src={dumanLogo.src} alt="خبرنامه هوش‌مصنوعی دومان" class="header-logo-image">
    </a>
</div>