---
import globalCSS from '../styles/global.css';
import dumanLogo from '../assets/logo.png';
---

<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Duman AI Newsletter</title>
    <link rel="icon" type="image/png" href={dumanLogo.src} />
    <link rel="stylesheet" href={globalCSS} />
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet" />
  </head>
  <body>
    <slot />
  </body>
</html>
